Source: ros-melodic-rc-reason-clients
Section: misc
Priority: optional
Maintainer: Felix Ruess <felix.ruess@roboception.de>
Build-Depends: debhelper (>= 9.0.0), python-requests, ros-melodic-catkin, ros-melodic-ddynamic-reconfigure-python, ros-melodic-message-runtime, ros-melodic-rc-reason-msgs, ros-melodic-rospy
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-rc-reason-clients
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-requests, ros-melodic-ddynamic-reconfigure-python, ros-melodic-message-runtime, ros-melodic-rc-reason-msgs, ros-melodic-rospy
Description: Clients for interfacing with Roboception reason modules on rc_visard and rc_cube.
