Source: ros-noetic-rc-reason-clients
Section: misc
Priority: optional
Maintainer: Felix Ruess <felix.ruess@roboception.de>
Build-Depends: debhelper (>= 9.0.0), python3-requests, ros-noetic-ddynamic-reconfigure-python, ros-noetic-rc-reason-msgs, ros-one-catkin, ros-one-message-runtime, ros-one-rospy
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-rc-reason-clients
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-requests, ros-noetic-ddynamic-reconfigure-python, ros-noetic-rc-reason-msgs, ros-one-message-runtime, ros-one-rospy
Description: Clients for interfacing with Roboception reason modules on rc_visard and rc_cube.
